<form method="post" action="{{ path('app_etat_delete', {'id': etat.id}) }}" onsubmit="return confirm('❗️ Êtes-vous sûr de vouloir supprimer cet état ?');" class="d-inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etat.id) }}">
    <button class="btn btn-danger">
        <i class="bi bi-trash3-fill"></i> Supprimer
    </button>
</form>
